n8n-workflows/01-ai-signal-generator.json
{
  "name": "E-Traders AI Signal Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "additionalFields": {}
      },
      "id": "get-market-data",
      "name": "Get Market Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "prompt": "You are a professional trading analyst. Analyze the following market data and generate trading signals.\n\nMarket Data: {{ $json.market_data }}\nPrevious Signals: {{ $json.previous_signals }}\n\nFor each asset, provide:\n1. Signal (BUY/SELL/HOLD)\n2. Confidence score (0-100)\n3. Entry price recommendation\n4. Stop loss level\n5. Take profit level\n6. Brief explanation\n\nRespond in JSON format.",
        "options": {
          "temperature": 0.3,
          "max_tokens": 2000
        }
      },
      "id": "ai-signal-analysis",
      "name": "AI Signal Analysis",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://nextjs:3000/api/signals",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "signals",
              "value": "{{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-signals",
      "name": "Save Signals to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/CHANGE_ME",
        "textMessage": "🤖 **E-Traders AI Signals Update**\n\n{{ $json.signals_summary }}"
      },
      "id": "discord-notification",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Market Data",
            "type": "main"
          }
        ]
      ]
    },
    "Get Market Data": {
      "main": [
        [
          {
            "node": "AI Signal Analysis",
            "type": "main"
          }
        ]
      ]
    },
    "AI Signal Analysis": {
      "main": [
        [
          {
            "node": "Save Signals to API",
            "type": "main"
          }
        ]
      ]
    },
    "Save Signals to API": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["trading", "AI", "signals"],
  "triggerCount": 1,
  "updatedAt": "2024-06-04T12:00:00.000Z",
  "id": "ai-signal-generator",
  "name": "E-Traders AI Signal Generator",
  "active": true,
  "nodesTypeVersion": {
    "n8n-nodes-base": 1
  }
}