n8n-workflows/06-portfolio-tracker.json
{
  "name": "Portfolio Performance Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "hours", "hoursInterval": 4}]}
      },
      "id": "portfolio-trigger",
      "name": "Daily Portfolio Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "returnAll": false,
        "limit": 1
      },
      "id": "get-trades",
      "name": "Get Recent Trades",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://nextjs:3000/api/portfolio",
        "method": "GET",
        "options": {}
      },
      "id": "get-portfolio",
      "name": "Get Portfolio Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 450]
    },
    {
      "parameters": {
        "prompt": "You are a portfolio performance analyst. Analyze trading performance and provide insights.\n\nPortfolio Data:\n{{ $json.portfolio }}\n\nRecent Trades:\n{{ $json.trades }}\n\nCalculate and provide:\n1. total_pnl: overall profit/loss\n2. win_rate: percentage of profitable trades\n3. avg_win: average winning trade\n4. avg_loss: average losing trade\n5. profit_factor: gross profits / gross losses\n6. sharpe_ratio: risk-adjusted return\n7. max_drawdown: largest peak-to-trough\n8. recommendations: array of improvement suggestions\n\nFormat as detailed JSON report.",
        "options": {"temperature": 0.2, "max_tokens": 1000}
      },
      "id": "ai-analysis",
      "name": "AI Performance Analysis",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [650, 375]
    },
    {
      "parameters": {
        "url": "http://nextjs:3000/api/performance",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {"name": "analysis", "value": "{{ $json }}"},
            {"name": "timestamp", "value": "{{ $now }}"}
          ]
        },
        "options": {}
      },
      "id": "save-analysis",
      "name": "Save Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 375]
    },
    {
      "parameters": {
        "webhookUri": "{{ $env.DISCORD_WEBHOOK_URL }}",
        "textMessage": "📊 **E-Traders Performance Report**\n\n💰 P&L Total: {{ $json.total_pnl }}\n🎯 Win Rate: {{ $json.win_rate }}%\n📈 Profit Factor: {{ $json.profit_factor }}\n⚠️ Max Drawdown: {{ $json.max_drawdown }}%\n\n**AI Recommendations:**\n{{ $json.recommendations }}"
      },
      "id": "discord-report",
      "name": "Discord Report",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1050, 375]
    }
  ],
  "connections": {
    "Daily Portfolio Check": {"main": [[{"node": "Get Recent Trades"}, {"node": "Get Portfolio Data"}]]},
    "Get Recent Trades": {"main": [[{"node": "AI Performance Analysis"}]]},
    "Get Portfolio Data": {"main": [[{"node": "AI Performance Analysis"}]]},
    "AI Performance Analysis": {"main": [[{"node": "Save Analysis"}, {"node": "Discord Report"}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["portfolio", "performance", "tracking"],
  "active": true,
  "id": "portfolio-tracker",
  "name": "Portfolio Performance Tracker"
}